/*#index-desc {
        position: absolute;
        bottom: 35%;
        left: 35%;
        h2 {
          color: #C5C5C5;
          font-weight: 300;
        }

@media (max-width: 899px) {
  html {
    width: 100%;
  }

  #index-desc {
    width: 100%;
    height: 100%;
    padding: 4em 2em;
    background-color: #FFFFFF;
    max-height: 667px;
    max-width: 500px;
    margin: 0 auto;        */

#curtain-images {
  position: absolute;
  bottom: 30%;
  left: 32%;
}

#curtain-images h3 {
  font-size: 1.5em;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  padding-left: 150px;
}

#index-nonvid {
  background: #3498db;
}

.carousel{
  overflow:hidden;
  width:100%;
}
.frames{
  list-style:none;
  width:300%;
  overflow:hidden;
  padding:0;
  margin:0;
}
.frames > li {
  position:relative;
  float:left;
  right:0;
  width:33.33333%; /* 100 / number of frames */
  padding-top: 30px;
}
.carousel img{
  display:block;
  width:100%;
  max-width:200%;
  padding: 5px;
  /*border: 1px solid #021a40;*/
  background-color: white;
}
.carousel h2{
  /*font-size:1em;*/
  padding:0.5em;
  position:absolute;
  bottom:10px;
  left:10px;
  text-align:left;
  margin: 0;
  color:#fff;
  background-color:rgba(99,0,0,0.75);
  font-family: 'Open Sans',sans-serif;
}

.carousel_controls a {
  font-family: monospace;
  text-decoration: none;
  position: absolute;
  /*margin-top: 99px;*/
  margin-top: 40%;
  width: 30px;
  line-height: 30px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 30px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
a#previous_frame {
  margin-left: -10%;
}
a#next_frame {
  margin-left: 103%;
}